In [15]:
#PANDAS DATAFRAME MANUPULATION

In [16]:
import pandas as pd
import numpy as np

In [17]:
np.random.seed(101)
matrix_data = np.random.randn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(data=matrix_data,index=row_labels,columns=column_headings)

In [18]:
print("\n THE DATAFRAME \n",'-'*45,sep='')
print(df)

 THE DATAFRAME
---------------------------------------------
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
print("\n ELEMENT AT ROW 'B' AND COLUMN 'Y' IS \n")
df.loc[['B','D'],['W','Y']]

 ELEMENT AT ROW 'B' AND COLUMN 'Y' IS

          W         Y
B  0.651118 -0.848077
D  0.188695 -0.933237

In [20]:
print("\n The DataFrame \n",'-'*45,sep='')
print(df)

 The DataFrame
---------------------------------------------
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
print("\n Boolean DataFrame (s) where we are cheaking if the values are greater than 0 \n",'-'*75,sep='')
print(df>0)

 Boolean DataFrame (s) where we are cheaking if the values are greater than 0
---------------------------------------------------------------------------
       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [22]:
print("\n")
print(df.loc[['A','B','C']]>0)

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False

In [23]:
booldf = df>0
print("\n DataFrame indexed by boolean DataFrame \n",'-'*45,sep='')
print(df[booldf])

 DataFrame indexed by boolean DataFrame
---------------------------------------------
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [25]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['AGE','HEIGHT','WEIGHT']

In [28]:
df = pd.DataFrame(data=matrix_data,index=row_labels,columns=column_headings)
print("\n Anew dataframe \n",'-'*25,sep='')
print(df)

 Anew dataframe
-------------------------
   AGE  HEIGHT  WEIGHT
A   22      66     140
B   42      70     148
C   30      62     125
D   35      68     160
E   25      62     152

In [29]:
print("\n Rows with height >65 inch \n",'-'*35,sep='')
print(df[df['HEIGHT']>65])

 Rows with height >65 inch
-----------------------------------
   AGE  HEIGHT  WEIGHT
A   22      66     140
B   42      70     148
D   35      68     160

In [30]:
booldf1 = df['HEIGHT']>65
booldf2 = df['WEIGHT']>145

In [31]:
print("\n Rows with heights>65 inch and weight columns whole Height >65 inch\n",'-'*68,sep='')
print(df[booldf1][['AGE','WEIGHT']])

 Rows with heights>65 inch and weight columns whole Height >65 inch
--------------------------------------------------------------------
   AGE  WEIGHT
A   22     140
B   42     148
D   35     160

In [32]:
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['AGE','HEIGHT','WEIGHT']

In [33]:
df = pd.DataFrame(data=matrix_data,index=row_labels,columns=column_headings)
print("\n Anew dataframe \n",'-'*25,sep='')
print(df)

 Anew dataframe
-------------------------
   AGE  HEIGHT  WEIGHT
A   22      66     140
B   42      70     148
C   30      62     125
D   35      68     160
E   25      62     152

In [35]:
print("\n Afetr resetting index \n",'-'*35,sep='')
print(df.reset_index())

 Afetr resetting index
-----------------------------------
  index  AGE  HEIGHT  WEIGHT
0     A   22      66     140
1     B   42      70     148
2     C   30      62     125
3     D   35      68     160
4     E   25      62     152

In [38]:
print("\n Adding new column 'Proffesion' \n",'-'*45,sep='')
df['Proffesion'] = "student teacher doctor lawyer nurse".split()
print(df)

 Adding new column 'Proffesion'
---------------------------------------------
   AGE  HEIGHT  WEIGHT Proffesion
A   22      66     140    student
B   42      70     148    teacher
C   30      62     125     doctor
D   35      68     160     lawyer
E   25      62     152      nurse

In [39]:
print("\n Setting 'Proffesion' column as index \n",'-'*45,sep='')
print(df.set_index('Proffesion'))

 Setting 'Proffesion' column as index
---------------------------------------------
            AGE  HEIGHT  WEIGHT
Proffesion
student      22      66     140
teacher      42      70     148
doctor       30      62     125
lawyer       35      68     160
nurse        25      62     152