In [25]:
import numpy as np
import pandas as pd

In [26]:
labels = ['a','b','c','d']
my_data = [10,20,30,40,]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30,'d':40}
print("Labels:",labels)
print("My data:",my_data)
print("Dictionary:",d)

Labels: ['a', 'b', 'c', 'd']
My data: [10, 20, 30, 40]
Dictionary: {'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [27]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
d    40
dtype: int64

In [28]:
print("\n Holding numerical data \n",'-'*20,sep='')
print(pd.Series(arr))

 Holding numerical data
--------------------
0    10
1    20
2    30
3    40
dtype: int32

In [29]:
print("\n Holding text labels\n",'-'*20,sep='')
print(pd.Series(labels))

 Holding text labels
--------------------
0    a
1    b
2    c
3    d
dtype: object

In [30]:
ser1 = pd.Series([1,2,3,4],['CA','OR','CO','AZ'])
ser2 = pd.Series([1,2,5,4],['CA','OR','NV','AZ'])

In [31]:
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [32]:
ser2

CA    1
OR    2
NV    5
AZ    4
dtype: int64

In [33]:
print("\n Indexing by name of the item (string identifier)\n",'-'*56,sep='')
print("Value for CA in Ser1:",ser1['CA'])
print("Value for AZ in Ser2:",ser2['AZ'])
print("Value for NV in Ser2:",ser2['NV'])

 Indexing by name of the item (string identifier)
--------------------------------------------------------
Value for CA in Ser1: 1
Value for AZ in Ser2: 4
Value for NV in Ser2: 5

In [34]:
print("\n Indexing by number (Positional value in series)\n",'-'*50,sep='')
print("Value for CA in ser1:",ser1[0])
print("Value for AZ in ser1:",ser1[3])
print("Value for NV in ser2:",ser2[2])

 Indexing by number (Positional value in series)
--------------------------------------------------
Value for CA in ser1: 1
Value for AZ in ser1: 4
Value for NV in ser2: 5

In [35]:
print("\n Indexing by range \n",'-'*25,sep='')
print("Value for OR,CO and AZ in ser1:\n",
     ser1[1:4],sep='')

 Indexing by range
-------------------------
Value for OR,CO and AZ in ser1:
OR    2
CO    3
AZ    4
dtype: int64

In [36]:
ser1 = pd.Series([1,2,3,4],['CA','OR','CO','AZ'])
ser2 = pd.Series([1,2,5,4],['CA','OR','NV','AZ'])

In [37]:
ser3 = ser1+ser2

In [38]:
print(ser3)

AZ    8.0
CA    2.0
CO    NaN
NV    NaN
OR    4.0
dtype: float64

In [39]:
#PYTHON SERIES TRIES TO ADD VALUES WHERE IT FINDS COMMON INDEX NAME AND PUTS NAN WHERE INDUCES ARE MISSING

In [40]:
print("\n The Idea works even for manupulation-----\n",'-'*43,sep='')
print(ser1*ser2)

 The Idea works even for manupulation-----
-------------------------------------------
AZ    16.0
CA     1.0
CO     NaN
NV     NaN
OR     4.0
dtype: float64

In [41]:
print("\n Or Even for combination of mathematical operation!\n",'-'*53,sep='')
print(np.exp(ser1)+np.log10(ser2))

 Or Even for combination of mathematical operation!
-----------------------------------------------------
AZ    55.200210
CA     2.718282
CO          NaN
NV          NaN
OR     7.690086
dtype: float64

In [42]:
from numpy.random import randn as rn 
np.random.seed(100)
matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(data=matrix_data,index=row_labels,columns=column_headings)
print("\n The DataFrame looks like \n",'-'*50,sep='')
print(df)

 The DataFrame looks like
--------------------------------------------------
          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [43]:
print("\n The 'X'column \n",'-'*25,sep='')
print(df['X'])

 The 'X'column
-------------------------
A    0.342680
B    0.514219
C    0.255001
D    0.816847
E    1.029733
Name: X, dtype: float64

In [46]:
print("\n Type of column :", type(df['X']),sep='')
print("\n The'x' and 'z' column indexed by passing a list \n",'-'*55,sep='')
print(df[['X','Z']])

 Type of column :<class 'pandas.core.series.Series'>

 The'x' and 'z' column indexed by passing a list
-------------------------------------------------------
          X         Z
A  0.342680 -0.252436
B  0.514219 -1.070043
C  0.255001  0.435163
D  0.816847 -0.104411
E  1.029733 -1.118318

In [47]:
print("\n Type of the pair of column",type(df[['X','Z']]),sep='')
print("\n So for more than one column ,the object turns into DataFrame")

 Type of the pair of column<class 'pandas.core.frame.DataFrame'>

 So for more than one column ,the object turns into DataFrame

In [48]:
print("\n The 'X'column accessed by by Dot method (Not recommended) \n",'-'*55,sep='')
print(df.X)

 The 'X'column accessed by by Dot method (Not recommended)
-------------------------------------------------------
A    0.342680
B    0.514219
C    0.255001
D    0.816847
E    1.029733
Name: X, dtype: float64